name: "Mark stale issues/PRs"
on:
  workflow_dispatch: 
permissions:
  issues: write
  pull-requests: write
  actions: write
jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: itchyny/actions-stale@fix-state-cache-check
        with:
          operations-per-run: 5
          days-before-stale: 30
          days-before-close: 70
