name: "1311 - Mark stale issues and pull requests "
on:
  workflow_dispatch: 
permissions:
  issues: write
  pull-requests: write
  actions: write
jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: shamoon/stale@ignore-stale-label-events
        with:
          operations-per-run: 5
          days-before-stale: 200
          days-before-close: 5
